<header> 
  <nav class="navbar">
    <div class="logo">
      <img src="assets/ps img.png" alt="PlayStore Logo" >
      PlayStore
    </div>
    <ul class="nav-links">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/registration" routerLinkActive="active">Signup</a></li>
    </ul>
  </nav>
</header>


<form (submit)="handleSubmit($event)" (ngSubmit)="registerUser()">
  <label for="username">Username:</label>
    <input type="text" [(ngModel)]="userData.username" name="username">
    <label for="email">Email:</label>
    <input type="email" [(ngModel)]="userData.email" name="email">
    <label for="password">Password:</label>
    <input type="password" [(ngModel)]="userData.password" name="password">
    <button type="submit">Register</button>
  </form>
  