
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  
  li {
    margin: 10px;
    width: calc(25% - 20px); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  
  .app-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  .app-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
 
  .content {
    padding: 15px;
  }
  

  .name {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 5px;
  }
  

  .genre {
    font-size: 0.9em;
    color: #666;
  }

  
  li:hover {
    transform: translateY(-5px);
  }
 