<header> 
    <nav class="navbar">
      <div class="logo">
        <img src="assets/ps img.png" alt="PlayStore Logo" >
        PlayStore
      </div>
      <ul class="nav-links">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/registration" routerLinkActive="active">Signup</a></li>
      </ul>
    </nav>
  </header>

<form (submit)="login()">
  <label for="username">Username:</label>
  <input type="text" [(ngModel)]="loginData.username" name="username" required>
  <label for="password">Password:</label>
  <input type="password" [(ngModel)]="loginData.password" name="password" required>
  <label for="role">Role:</label>
  <select [(ngModel)]="loginData.role" name="role" required>
    <option value="USER">User</option>
    <option value="ADMIN">Admin</option>
  </select>
  <button type="submit">Login</button>
</form>