<header> 
    <nav class="navbar">
      <div class="logo">
        <img src="assets/ps img.png" alt="PlayStore Logo" >
        PlayStore
      </div>
      <ul class="nav-links">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/registration" routerLinkActive="active">Signup</a></li>
      </ul>
    </nav>
  </header>

<form>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <div>
        <label for="userType">Login as:</label>
        <select id="userType" name="userType" [(ngModel)]="userType" required>
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select>
    </div>
    <button type="button" (click)="adminLogin()">Login as Admin</button>
    <button type="button" (click)="userLogin()">Login as User</button>
</form>
