<header> 
  <nav class="navbar">
    <div class="logo">
      <img src="assets/ps img.png" alt="PlayStore Logo" >
      PlayStore
    </div>
    <ul class="nav-links">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/registration" routerLinkActive="active">Signup</a></li>
    </ul>
  </nav>
</header> 

<div class="content">
  <app-category-nav class="category"></app-category-nav> <br>
  <app-application-details></app-application-details>
  <app-application-list class="applicationList"></app-application-list>
</div>