<header>
  <nav class="navbar">
    <div class="logo">
      <img src="assets/ps img.png" alt="PlayStore Logo" >
      PlayStore
    </div>
    <ul class="nav-links">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/registration" routerLinkActive="active">Signup</a></li>
    </ul>
  </nav>
</header>

<section class="hero-section">
  <div class="hero-content">
    <h1>Welcome to PlayStore</h1>
    <p>Discover and download your favorite apps, games, movies, and more!</p>
  </div>
</section>
